<div class="bg-gray-500 text-gray-100 px-4 py-2 mb-4">
  <div class="flex flex-wrap justify-between gap-20">
   <div class="flex justify-between items-center">
    <img class="img-responsive" class="w-16 h-16" src="../../assets/images/bank-icon-vector-sign-symbol-isolated-white-background-bank-logo-concept-bank-icon-vector-isolated-white-background-134167171-removebg-preview (1).png">
      <a class=" font-bold text-4xl" routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive=""> Bank Dashboard  </a>
   </div>
      <div class="p-4 bg-gray-500 ">
        <ul class="flex gap-16 ">
          <li>
            <a routerLink="/customers" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="text-red-500 underline">Customer List</a>
          </li>
          <li>
            <a routerLink="/customers/form" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="text-red-500 underline">Create Customer</a>
          </li>
        </ul>
      </div>
  </div>
</div>